# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
!/Assets/PinpinPackages/*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Assets/GameAssets/Textures/Hills.pdn.meta
Assets/GameAssets/Textures/Hills.pdn
Holorgium/Library/PackageCache/com.unity.multiplayer-hlapi@1.0.2/Tests/Runtime/NetworkManagerStillWorksWhenUserUseStartAndAwake/NetworkManagerStillWorksWhenUserUseStartAndAwake.cs.meta
Holorgium/Library/PackageCache/com.unity.multiplayer-hlapi@1.0.2/Tests/Runtime/NetworkBehaviourCallbacksOrderOnTheHost/Resources/PlayerCallbacksOrderOnTheHost_PlayerPrefab.prefab.meta
Holorgium/Library/PackageCache/com.unity.multiplayer-hlapi@1.0.2/Tests/Runtime/GetCurrentRTTCallDoesntCrashWhenUseWebSockets/Resources/GetCurrentRTTCallDoesntCrashWhenUseWebSockets_PlayerPrefab.prefab.meta
Holorgium/Library/PackageCache/com.unity.multiplayer-hlapi@1.0.2/Tests/Runtime/GetCurrentRTTCallDoesntCrashWhenUseWebSockets/Resources/GetCurrentRTTCallDoesntCrashWhenUseWebSockets_PlayerPrefab.prefab
